<!DOCTYPE html>
<html>
  <head>
 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  this is page
  <form  method="post" >  
    <p>Welcome to</p>
  </form>  
 
  </body>
</html>