<html>
<head>
<title>Login</title>
<link rel='stylesheet' href='/stylesheets/style.css' />


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body>
	<header> <% include header1 %> </header>
	

	<form action="/afterSignIn" method="post" class="container">
		<table
			style="margin-top: -5px; position: relative; width: 100%; border-bottom: 1px solid #e5e5e1;">
			<tr>
				<td style="font-weight: bold; color: black">Yelp</td>
				<td width=28% style="font-weight: bold; color: black">San
					Jose, CA</td>
				<td width=10%><a href="" class="link">San Jose</a></td>
				<td width=10%><a href="" class="link"> New York </a></td>
				<td width=12%><a href="" class="link">Los Angeles</a></td>
				<td width=8%><a href="" class="link">Chicago</a></td>

				<td width=9%><a href="" class="link">Palo Alto </a></td>
				<td width=9%><a href="" class="link">Oakland </a></td>
				<td width=14%><a href="" class="link">More Cities>></a></td>



			</tr>
		</table>

		<table style="position: relative; width: 100%; top: 10px;">
			<tr>
				<td width=65%
					style="border-right: 1px solid #e5e5e1; background-color: #FEF9E5;">
					<div
						style="border: 2px solid #FEEB9E; min-height: 170px; background: transparent url(//s3-media1.ak.yelpcdn.com/assets/2/www/img/2b7fc3fbe074/gfx/homepage/burst_bg.png) no-repeat right bottom;">
						<table>
							<tr style="font-weight: bold; font-size: 24px; color: #B30905;">
								<td><p style="color: #B30905">Yelp is the best way to
										find great local businesses</p></td>
							</tr>
							<tr rowspan="3">
								<td>.</td>
							</tr>
							<tr rowspan="4">
								<td>People use Yelp to search for everything from the
									city's tastiest burger to the most renowned cardiologist. What
									will you uncover in your neighborhood?</td>
							</tr>
							<tr rowspan="4">
								<td>
									<button type="submit"
										style="background-color: #E00808; margin-top: 15px; position: relative; width: 240px; height: 40px;">
										<div style="color: white; font-weight: bold; font-size: 16px;">
											Create Your Free Account</div>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>
					<div
						style="color: #B30804; font-weight: bold; font-size: 16px; text-align: left; margin-top: -80px;">Review
						of the Day</div>
				</td>
			</tr>
		</table>



	</form>
</body>

</html>